<h1>freeCodeCamp Leaderboard</h1>
<p>
  This page shows our top contributors across all platforms. Don't see your
  data? <a routerLink="/profile">Create or update your profile</a>.
</p>
<p>Thank you all for your contributions.</p>
<p *ngIf="loaded">Updated on: {{ data.updated }}</p>
<div *ngIf="loaded">
  <section>
    <div class="header-grid-3">
      <span>Avatar</span>
      <span>Username</span>
      <span>Aggregate Score</span>
    </div>
    <div *ngFor="let cont of data.data" class="contrib-grid-3">
      <span class="avatar-cont"
        ><img class="avatar" [src]="cont.avatar" (error)="onImgError($event)"
      /></span>
      <span
        ><a
          routerLink="/contributor"
          [queryParams]="{ username: cont.username }"
          >{{ cont.username }}</a
        ></span
      >
      <span>{{ cont.aggregate }}</span>
    </div>
  </section>
</div>
