<h1>News Contributions</h1>
<p>
  These are this week's top contributors for our
  <a href="https://www.freecodecamp.org/news" target="_blank"
    >News publication.</a
  >
</p>
<p>
  If you are interested in contributing to our publication, we recommend
  starting with our
  <a
    href="https://www.freecodecamp.org/news/developer-news-style-guide/"
    target="_blank"
    >publication style guide</a
  >.
</p>
<p *ngIf="loaded">Updated on: {{ updated }}</p>
<div *ngIf="loaded">
  <section>
    <div class="header-grid-3">
      <span>Avatar</span>
      <span>Name</span>
      <span>Published Posts</span>
    </div>
    <div *ngFor="let cont of news" class="contrib-grid-3">
      <span class="avatar-cont"
        ><img class="avatar" [src]="cont.avatar" (error)="onImgError($event)"
      /></span>
      <span
        ><a target="_blank" [href]="cont.url"
          >{{ cont.name }} ({{ cont.username }})</a
        ></span
      >
      <span>{{ cont.posts }}</span>
    </div>
  </section>
</div>
