<h1>Your Profile</h1>
<p>
  To add your usernames to our database, or to update your existing usernames,
  please submit the form below!
</p>
<p>
  NOTE: The new username field is optional - only submit that if you would like
  to update your leaderboard username.
</p>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label
    >Leaderboard Username:
    <input type="text" formControlName="username" required
  /></label>
  <label>Password: <input type="password" formControlName="password" /></label>
  <label>Avatar URL: <input type="text" formControlName="avatar" /></label>
  <label
    >NEW Leaderboard Username: <input type="text" formControlName="newUsername"
  /></label>
  <label
    >Crowdin Username:
    <input type="text" formControlName="crowdin" required />
  </label>
  <label
    >Forum Username:
    <input type="text" formControlName="forum" required />
  </label>
  <label
    >GitHub Username:
    <input type="text" formControlName="github" required />
  </label>
  <label
    >News Username:
    <input type="text" formControlName="news" required />
  </label>
  <button type="submit">Get My Data!</button>
</form>
<div class="error-message" *ngIf="error">{{ error }}</div>
<div class="data-container" *ngIf="submitted">
  <p class="aggregate">Aggregate Score: {{ userResult.aggregate || 0 }}</p>
  <h2>Crowdin</h2>
  <p>Words Translated: {{ userResult.crowdin.words || 0 }}</p>
  <p>Words Approved: {{ userResult.crowdin.approvals || 0 }}</p>
  <p>Votes on Translations: {{ userResult.crowdin.votes || 0 }}</p>
  <h2>Forum</h2>
  <p>Posts Liked: {{ userResult.forum.likes || 0 }}</p>
  <p>Topics Opened: {{ userResult.forum.topics || 0 }}</p>
  <p>Replies Posted: {{ userResult.forum.replies || 0}}</p>
  <h2>GitHub</h2>
  <p>Commits to Main: {{ userResult.github.commits || 0 }}</p>
  <p>Active Issues: {{ userResult.github.issues || 0 }}</p>
  <p>Active Pull Requests: {{ userResult.github.pulls || 0 }}</p>
  <h2>News</h2>
  <p>Published Posts: {{ userResult.news.posts || 0 }}</p>
</div>
