* {
  text-align: center;
}

form {
  max-width: 750px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 20px;
}

input {
  background-color: #3b3b4f;
  color: #ffffff;
  font-family: Roboto;
}

button {
  background-color: #3b3b4f;
  color: #ffffff;
  width: 50%;
  height: 50px;
  font-family: Roboto;
  font-size: 18pt;
}

.data-container {
  max-width: 750px;
  margin: auto;
}

.aggregate {
  font-weight: bold;
}
