* {
  text-align: center;
}

form {
  max-width: 750px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 20px;
}

button {
  background-color: #3b3b4f;
  color: #ffffff;
  width: 50%;
  height: 50px;
}
