nav {
  display: grid;
  width: 100%;
  grid-template-columns: 220px 1fr;
}

.nav-links {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  margin: auto;
  padding: 0;
  justify-items: center;
}

@media (max-width: 750px) {
  .nav-links {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
  }
}

@media (max-width: 550px) {
  nav {
    grid-template-columns: 1fr;
  }

  .logo {
    display: none;
  }
}
