<h1>GitHub Contributions</h1>
<p>
  These are this week's top contributors for our
  <a href="https://github.com/freeCodeCamp/freeCodeCamp" target="_blank"
    >primary GitHub repository</a
  >.
</p>
<p>
  If you are interested in contributing to our code base, we recommend starting
  with our
  <a href="https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally" target="_blank"
    >contributing guidelines</a
  >.
</p>
<p *ngIf="loaded">Updated on: {{ updated }}</p>
<div *ngIf="loaded">
  <section>
    <div class="header-grid-3">
      <span>Avatar</span>
      <span>Name (username)</span>
      <span>Commits</span>
    </div>
    <div *ngFor="let cont of github" class="contrib-grid-3">
      <span class="avatar-cont"
        ><img class="avatar" [src]="cont.avatar" (error)="onImgError($event)"
      /></span>
      <span
        ><a target="_blank" [href]="cont.url"
          >{{ cont.name }} ({{ cont.username }})</a
        ></span
      >
      <span>{{ cont.commits }}</span>
    </div>
  </section>
</div>
